// Navigation Styles here
.navi{
    .displayJA(center, center);
    width: 100%;
    border-bottom: 2px dashed @navigation-border;
    padding: 2% 0;



    div{
        width:50%;
        .displayJA(center, center)
    }
    h1{
        width: auto;
    }
    nav{
        margin-left: 10%;
        width:100%;
        font-size: 1.6rem;
        
    }
    a{
        text-decoration: none;
        color: @font-color;
        // width: 100%;
        padding: 2.5%;
    }
}