// Navigation Styles here
.navi{
    .displayJA(space-evenly, center);
    width: 100%;
    border-bottom: 2px dashed silver;

    h1{
        width: 20%;
    }
    nav{
        width:80%;
    }
    a{
        text-decoration: none;
        color: inherit;
        width: 100%;
        padding: 1%;
    }
}